.form-container {
  margin: auto;
  width: 50%;
  padding-top: 100px;
}

.box {
  border: 1px white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.header {
  text-align: center;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.form-container h3 {
  font-size: 1.6rem;
  border-bottom: 4px solid #ccc;
  color: rgb(141, 8, 8);
  margin: 0 0 1rem 0;
}

@media (max-width: 576px) {
  .form-container {
    margin: auto;
    width: 100%;
  }
}
